.book-item-wrap {
    width: 300px;
    height: 490px;
    overflow: hidden;
    padding: 15px;
}

.book-item-wrap img {
    width: 150px;
    height: 200px;
    
}

.book-list-wrap {
    padding: 10px;
}

.btn {
    margin-top: 15px !important;
}

.see-more {
    color: blue;
}

.see-more:hover {
    cursor: pointer;
}
