/* .Home {
    position: relative;
} */

.home-ul {
    display: flex;
    flex-direction: column;
}

.home-header {
    /* width: 100%; */
    display: flex;
    background-color: bisque;
    justify-content: space-between;
    padding: 10px;
}

.user-data {
    background-color: lightyellow;
    min-width: 100px;
    /* border: 1px solid yellowgreen; */
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
}

.home-header ul {
    display: flex;
    justify-content: space-between;
}

.logout:hover {
    cursor: pointer;
    font-weight: 600;
    /* color: gray; */
}

.logout {
    margin-top: 20px;
    margin-right: 10px;
    
}

.user-data-wrap {
    display: flex;
}

.user-data-wrap:hover {
    cursor: pointer;
}

.home-wrap {
    position: relative;
}

.user-modal {
    /* position: relative; */
    width: 500px;
    min-height: 350px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: rgba(214, 127, 87, 0.178);
    /* line-height: 150px; */
    text-align: center;
    padding: 10px;
    overflow: hidden;
}

.close {
    height: 20px;
    float: right;
    line-height: 20px;
    padding: 8px;
    font-size: 30px;
}

.close:hover {
    cursor: pointer;
    color: darkred;
    transform: scale(1.5);
    
}

.user-ava {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 10px;
}

.user-ava img {
    height: 50px;
    width: 50px;
}

.modal {
    position: absolute;
    margin: 0px 25%;
}