
ul {
  list-style-type: none;
  color: brown;
}

ul li {
  display: inline;
  margin-right: 10px;
  text-decoration: none
}

a {
  text-decoration: none;
  font-size: 20px;
}

.App {
  position: relative;
}

.loader-wrap {
  /* position: absolute; */
  /* margin-top: 50px; */
}

/* .loader {
  position: absolute;
} */
