form {
    border: 2px solid  rgb(216, 155, 63);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 10px;
}

input {
    margin: 5px;
    padding: 5px;
    height: 25px;
    border: 1px solid  rgb(216, 155, 63);
    border-radius: 4px;
}

.form-error {
    color: red;
    margin-left: 10px;
}

.loader {
    display: block;
}

.Registr {
    display: flex;
    justify-content: center
}

.btn-form {
    width: 100px;
    margin: 15px 0 0 5px;
    border-radius: 4px;
    background-color: blanchedalmond;
}