form {
    border: 1px solid grey;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 10px;
}

input {
    margin: 5px;
    padding: 5px;
    height: 25px;

}

.form-error {
    color: red;
    margin-left: 10px;
}

/* .loader {
    display: none;
} */